.search-bar{
  background-color: #ddd;
  padding: 20px 30px;
}

.logo{
  width: 50px;
  height: 50px;
}

.search-box{
  border-radius: 3.5px;
  background-color: #FFF;
  padding: 0;

  input{
    direction: rtl;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-family: IRANSans;
    padding: 0 30px 0 15px;
    color:#000;
    margin-top: 7px;
  }

  input:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    -webkit-appearance: none;
  }

  .search-icon{
    width: 18px;
    height: 18px;
    margin: 18px;
    fill:#FFF;
    fill-rule:evenodd;
  }

  .search-col{
    background-color: #ff0724;
    border-radius: 0 3.5px 3.5px 0;
    padding: 0 10px;
    transition: background-color 0.1s ease-in;
  }

  .search-col:hover{
    background-color: #c2071b;
  }
}

.sort-selection {

  margin-top: 30px;
  margin-bottom: 50px;

  .sort-item {
    font-family: IRANSans;
    font-size: 14px;
    direction: rtl;
    text-align: right;
    color: #AAA;
    cursor: pointer;
  }

  .sort-item.sort-active {
    color: #000;
    cursor: auto;
  }

}

.result-box {
  margin-bottom: 20px;
  border: solid 1px #DDD;
}

.news-title {
  display: block;
  font-family: IRANSans;
  direction: rtl;
  text-align: right;
  font-size: 22px;
  margin: 20px;
}

.news-desc {
  font-family: IRANSans;
  direction: rtl;
  text-align: right;
  margin: 10px 20px 20px 10px;
}

.news-meta {
  font-family: IRANSans;
  direction: rtl;
  text-align: right;
  font-size: 10px;
  margin: 10px 20px 10px 10px;
}

.news-img {
  object-fit: cover;
  width:150px;
  height: 150px;
  padding: 10px;
  //padding-right: 8px;
}

.notfound-img {
  width: 250px;
  height: 250px;
}

.notfound-text {
  font-family: IRANSans;
  font-size: 16px;
  direction: rtl;
  text-align: right;
}

.pagination-div {
  margin-top: 60px;
}
