<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div *ngIf="!news" class="modal-content">
      <p>wait ...</p>
    </div>

    <div *ngIf="news" class="modal-content">
      <div class="row justify-content-end no-gutters">
        <img #thumb class="news-img" src="{{news.thumbnail || '../../assets/image/default_img.png'}}"
             (error)="thumb.src='../../assets/image/default_img.png'" alt=""/>
      </div>
      <div class="row justify-content-end no-gutters result-box">
        <p class="news-title">{{news.title}}</p>
        <p class="news-desc">خلاصه خبر :</p>
        <p class="news-desc">{{news.summary}}</p>
        <p class="news-desc">کلمات کلیدی :
          <span *ngFor="let tag of news.tags">{{tag}},&nbsp;</span>
        </p>

        <p class="news-desc">متن کامل :</p>
        <p class="news-desc">{{news.content}}</p>
        <p class="news-meta">
          منبع :{{news.source}}
        </p>
        <p class="news-meta">
          تاریخ :{{news.date}}
        </p>
      </div>
    </div>
  </div>s
</div>
