<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div *ngIf="!news" class="modal-content">
      <p>wait ...</p>
    </div>

    <div *ngIf="news" class="modal-content">
      <div class="row justify-content-end no-gutters">
        <img #thumb class="news-img" src="{{news.thumbnail || '../../assets/image/default_img.png'}}"
             (error)="thumb.src='../../assets/image/default_img.png'" alt=""/>
      </div>
      <div class="row justify-content-end no-gutters result-box">
        <p class="news-title">{{news.title}}</p>
        <p class="news-summ">{{news.summary}}</p>
        <div class="news-tags row align-content-end no-gutters">
          <div *ngFor="let tag of news.tags" class="col-auto">
            <p class="tag" >{{tag}}</p>
          </div>
        </div>

        <p class="news-desc">{{news.content}}</p>
        <p class="news-meta">
          منبع: <a href="http://www.{{news.source}}">{{news.source}}</a>
        </p>
        <p class="news-meta">
          تاریخ: {{news.date}}
        </p>
        <p *ngIf="news.duplicates.length > 0" class="news-related-title">اخبار مشابه</p>
        <p *ngFor="let dup of news.duplicates" class="news-related"><a (click)="reload(dup.id)">{{dup.title}}</a> <span>{{dup.source}}</span></p>

      </div>
    </div>
  </div>s
</div>
